<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Transito WebApp</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
			
<!-- Core theme CSS (includes Bootstrap)-->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
</head>
<body>
	<div class="d-flex" id="wrapper">
		<!-- Sidebar-->
		<div class="border-end bg-white" id="sidebar-wrapper">
			<div class="sidebar-heading border-bottom bg-light"><span style="font-weight: bolder;"><a th:href="@{/}" style="text-decoration-line: none;">Transito - WebApp</a></span></div>
			<div class="list-group list-group-flush">
				<a
					class="list-group-item list-group-item-action list-group-item-light p-3"
					th:href="@{/gestionarEmpresas}">Gestionar Empresas</a> <a
					class="list-group-item list-group-item-action list-group-item-light p-3"
					th:href="@{/gestionarRepresentantes}">Gestionar Representante</a> <a
					class="list-group-item list-group-item-action list-group-item-light p-3"
					th:href="@{/gestionarVehiculos}">Gestionar Vehiculo</a> <a
					class="list-group-item list-group-item-action list-group-item-light p-3"
					th:href="@{/gestionarConductores}">Gestionar Conductor</a> <a
					class="list-group-item list-group-item-action list-group-item-light p-3"
					th:href="@{/gestionarVinculaciones}">Vincular Vehiculo-Conductor</a>
			</div>
		</div>
		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<!-- Top navigation-->
			<nav
				class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<div class="container-fluid">
					<button class="btn btn-primary" id="sidebarToggle">
						Menu</button>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
			</nav>
			<!-- Page content-->
			<div class="container-fluid" layout:fragment="page-content">
			
			
			</div>
		</div>
	</div>
	<!-- Bootstrap core JS-->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<!-- Core theme JS-->
	<script th:src="@{/js/scripts.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
	<script src="https://malsup.github.io/jquery.form.js"></script> 
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

	<!--OTRO SCRIPTS PARA PAGINAS-->
	<th:block layout:fragment="page-scripts">
	    

	</th:block>
	
	<!-- Modal -->
		<div class="modal fade" id="agregarEmpresaModal" tabindex="-1" role="dialog" aria-labelledby="agregarEmpresaModal" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Registrar Nueva Empresa</h5>
		      </div>
		      <div class="modal-body" layout:fragment="modal-agregarempresa" id="contenido_empresa_modal_add">
		        
		      </div>
		      <div class="modal-footer">
		        <span id="resultado_empresas"></span>
		        <button type="button" class="btn btn-danger" id="btn_close_modal_empresa">Cerrar</button>
		        <button type="button" class="btn btn-primary" onclick="$('#form_empresas').submit();">Guardar</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		
		<div class="modal fade" id="agregarRepresentanteModal" tabindex="-1" role="dialog" aria-labelledby="agregarRepresentanteModal" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Registrar Nuevo Representante</h5>
		      </div>
		      <div class="modal-body" layout:fragment="modal-agregarrepresentante" id="contenido_representante_modal_add">
		        
		      </div>
		      <div class="modal-footer">
		        <span id="resultado_representantes"></span>
		        <button type="button" class="btn btn-danger" id="btn_close_modal_representante">Cerrar</button>
		        <button type="button" class="btn btn-primary" onclick="$('#form_representantes').submit();">Guardar</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="modal fade" id="agregarVehiculoModal" tabindex="-1" role="dialog" aria-labelledby="agregarVehiculoModal" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Registrar Nuevo Vehiculo</h5>
		      </div>
		      <div class="modal-body" layout:fragment="modal-agregarvehiculo" id="contenido_vehiculo_modal_add">
		        
		      </div>
		      <div class="modal-footer">
		        <span id="resultado_vehiculos"></span>
		        <button type="button" class="btn btn-danger" id="btn_close_modal_vehiculo">Cerrar</button>
		        <button type="button" class="btn btn-primary" onclick="$('#form_vehiculos').submit();">Guardar</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="modal fade" id="agregarConductorModal" tabindex="-1" role="dialog" aria-labelledby="agregarConductorModal" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Registrar Nuevo Conductor</h5>
		      </div>
		      <div class="modal-body" layout:fragment="modal-agregarconductor" id="contenido_conductor_modal_add">
		        
		      </div>
		      <div class="modal-footer">
		        <span id="resultado_conductores"></span>
		        <button type="button" class="btn btn-danger" id="btn_close_modal_conductor">Cerrar</button>
		        <button type="button" class="btn btn-primary" onclick="$('#form_conductores').submit();">Guardar</button>
		      </div>
		    </div>
		  </div>
		</div>
		
			<div class="modal fade" id="agregarVinculacionModal" tabindex="-1" role="dialog" aria-labelledby="agregarVinculacionModal" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Registrar Nueva Vinculacion</h5>
		      </div>
		      <div class="modal-body" layout:fragment="modal-agregarvinculacion" id="contenido_vinculacion_modal_add">
		        
		      </div>
		      <div class="modal-footer">
		        <span id="resultado_vinculaciones"></span>
		        <button type="button" class="btn btn-danger" id="btn_close_modal_vinculacion">Cerrar</button>
		        <button type="button" class="btn btn-primary" onclick="$('#form_vinculaciones').submit();">Guardar</button>
		      </div>
		    </div>
		  </div>
		</div>
</body>
</html>
