<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title></title>
</head>
<body>

	<div class="container-fluid" layout:fragment="page-content">
    <br>
    <br>
	<div class="card bg" >
            <div class="card-header">
                <div class="row">
	    		<div class="col-md-10">
					      <h3 class="w-75 p-3">Lista de las Afiliaciones Por Empresa</h3>
					    </div>
					    <div class="col-md-2 float-right">
					    <br>
					    <button class="btn btn-primary" data-toggle="modal" data-target="#agregarVinculacionModal" id="agregar_vinculacion">Nueva Vinculacion</button>
				</div>
				</div>
            </div>
            <div class="card-body">
              <div class="form-group col-sm-12" >
				    <label for="empresa_regis">Empresas Registradas</label>
				    <select class="form-control" id="empresa_regis" name="empresa_regis">
					  <option th:each="empresa : ${empresas}" th:value="${empresa.nro_documento_empresa}" th:text="${empresa.nro_documento_empresa +' - '+ empresa.nombre_completo }"></option>
					</select>
			  </div>
			  <br>
			  <br>
                <table class="table table-striped" id="vinculaciones">
                    <thead>
                        <tr>
                            <th>Conductor Asignado</th>
                            <th>Placa</th>
                            <th>Tipo Documento</th>
                            <th>Documento</th>     
                            <th>Nombre Empresa</th>  
                            <th>Desvincular</th>               
                        </tr>
                    </thead>
                    <tbody>
                        <tr  layout:fragment="listar-vinculaciones-content">

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
	</div>
	
	<!--OTRO SCRIPTS PARA PAGINAS-->
	<th:block layout:fragment="page-scripts">
	
		<script>
			$(document).ready(function() {
				
								
				$("#btn_close_modal_vinculacion").click(function(){
	            	$("#agregarVinculacionModal").modal('hide');
	        	});
	        	
	        	$("#agregar_vinculacion").click(function() {
					$('#agregarVinculacionModal').modal('show');
					  $.ajax({
					        type: "GET",
					        url: "/modalCamposVinculacion",
					        success: function (data) {
					            $('#contenido_vinculacion_modal_add').html(data);
					
					        }
					   });
				});
				
				 listarVinculaciones();
				 
				
				$("#empresa_regis").change(function(){
					 listarVinculaciones();
				});
				
				 listarVinculaciones();
				 
				 
				 
				
			})
			
				var tabla_vinculaciones = null;
				
				function listarVinculaciones(){
						
				        var empresa_id = $("#empresa_regis").val();
				        
						$.ajax({
							type: "GET",
					        url: "/listarVinculaciones/"+empresa_id,
							success: function(result){
				
							    if(tabla_vinculaciones != null){
				
									tabla_vinculaciones.destroy();
				
								}
				
								$("#vinculaciones tbody").html(result);
				
									tabla_vinculaciones = $("#vinculaciones").DataTable({
											'aoColumnDefs': [{
					        				'bSortable': false,
					        				'aTargets': [-1] /* 1st one, start by the right */
					    				}]
									});
				
						     }

					     });		

				  }
				  
				 function desvincular(id){
					
					 let text = "Si esta completamente de seguro de realizar la desviculacion presione aceptar";
					 if (confirm(text) == true) {
					      $.ajax({
							type: "DELETE",
					        url: "/desvincularVYC/"+id,
								success: function(result){
					                   
								    listarVinculaciones();
					
							     }
	
						  });
					  }
					
				 }
				 
	
		</script>
	</th:block>

</body>
</html>