<tr th:each="vehiculo: ${vehiculos}" layout:fragment="listar-vehiculos-content">
                            <td th:text="${vehiculo.placa}"></td>
                            <td th:text="${vehiculo.motor }"></td>
                            <td th:text="${vehiculo.chasis}"></td>
                            <td th:text="${vehiculo.modelo}"></td>
                            <td th:text="${vehiculo.fecha_matricula}"></td>
                            <td th:text="${vehiculo.pasajeros_sentados}"></td>
                            <td th:text="${vehiculo.pasajeros_de_pie}"></td>
                            <td th:text="${vehiculo.peso_seco}"></td>
                            <td th:text="${vehiculo.peso_bruto}"></td>
                            <td th:text="${vehiculo.cantidad_puertas}"></td>
                            <td th:text="${vehiculo.marca}"></td>
                            <td th:text="${vehiculo.linea}"></td>
 </tr>
 

