<tr th:each="empresa: ${empresas}" layout:fragment="listar-empresas-content">
                            <td th:text="${empresa.tipo == 1 ? 'NIT' : 'RUT'}"></td>
                            <td th:text="${empresa.nro_documento_empresa }"></td>
                            <td th:text="${empresa.nombre_representante}"></td>
                            <td th:text="${empresa.nombre_completo}"></td>
                            <td th:text="${empresa.direccion}"></td>
                            <td th:text="${empresa.nombre_ciudad}"></td>
                            <td th:text="${empresa.nombre_departamento}"></td>
                            <td th:text="${empresa.nombre_pais}"></td>
                            <td th:text="${empresa.telefono}"></td>
 </tr>