<tr th:each="conductor: ${conductores}" layout:fragment="listar-conductores-content">
                            <td th:text="${conductor.tipo_documento == 1 ? 'Cedula de Ciudadania' : 'Cedula de Extranjeria'}"></td>
                            <td th:text="${conductor.nro_documento }"></td>
                            <td th:text="${conductor.nombre_completo}"></td>
                            <td th:text="${conductor.direccion}"></td>
                            <td th:text="${conductor.nombre_ciudad}"></td>
                            <td th:text="${conductor.nombre_departamento}"></td>
                            <td th:text="${conductor.nombre_pais}"></td>
                            <td th:text="${conductor.telefono}"></td>
 </tr>