<tr th:each="representante: ${representantes}" layout:fragment="listar-representantes-content">
                            <td th:text="${representante.tipo_documento == 1 ? 'Cedula de Ciudadania' : 'Cedula de Extranjeria'}"></td>
                            <td th:text="${representante.nro_documento }"></td>
                            <td th:text="${representante.nombre_completo}"></td>
                            <td th:text="${representante.direccion}"></td>
                            <td th:text="${representante.nombre_ciudad}"></td>
                            <td th:text="${representante.nombre_departamento}"></td>
                            <td th:text="${representante.nombre_pais}"></td>
                            <td th:text="${representante.telefono}"></td>
 </tr>