<tr th:each="vinculacion: ${vinculaciones}" layout:fragment="listar-vinculaciones-content">
                            <td th:text="${vinculacion.conductor_asignado}"></td>
                            <td th:text="${vinculacion.placa }"></td>
                            <td th:text="${vinculacion.tipo_Id_Empresa}"></td>
                            <td th:text="${vinculacion.numero_Documento_empresa}"></td>
                            <td th:text="${vinculacion.nombre_Empresa}"></td>
                            <td><a href="javascript:void(0);"  title="Eliminar"><span th:id="${vinculacion.id}" class="fa fa-minus-square" onclick="desvincular(this.id);"></span></a></td>
 </tr>
 