<form id="form_empresas" role="form" method="post" th:action="@{/guardarEmpresa}">
<div class="row">
	  <div class="form-group col-lg-12">
	    <label for="tipo">Tipo Documento</label>
		<select class="form-control" id="tipo" name="tipo" required>
			<option value="1">NIT</option>
			<option value="2">RUT</option>
		</select>
	  </div>
	  <div class="form-group col-sm-12" >
		    <label for="nro_documento_empresa">Numero Documento Empresa</label>
		    <input type="text" class="form-control" id="nro_documento_empresa" name="nro_documento_empresa " placeholder="Numero Documento Empresa" required>
	  </div>
	  <div class="form-group col-sm-12" >
		    <label for="nro_documento">Representante Legal</label>
		    <select class="form-control" id="nro_documento " name="nro_documento " required>
			  <option th:each="representante : ${representantes}" th:value="${representante.nro_documento}" th:text="${representante.nro_documento +' - '+ representante.nombre_completo }"></option>
			</select>
	  </div>
	  <div class="form-group col-sm-12" >
		    <label for="nombre_completo">Nombre de la empresa</label>
		    <input type="text" class="form-control" id="nombre_completo" name="nombre_completo " placeholder="Nombre de la empresa" required>
	  </div>
	    <div class="form-group col-sm-12" >
		    <label for="direccion">Direccion de la empresa</label>
		    <input type="text" class="form-control" id="direccion" name="direccion " placeholder="Direccion de la empresa" required>
	  </div>
	  <div class="form-group col-sm-12">
		    <label for="id_pais">Pais</label>
		     <select class="form-control" id="id_pais" name="id_pais" required>
			  <option th:each="pais : ${paises}" th:value="${pais.id_pais}" th:text="${pais.nombre_pais}"></option>
			</select>
	  </div>
	  
	  <div class="form-group col-sm-12">
		    <label for="id_departamento">Departamento</label>
		     <select class="form-control" id="id_departamento" name="id_departamento" required>
			  
			</select>
	  </div>
	  
	   <div class="form-group col-sm-12">
		    <label for="id_ciudad">Ciudad</label>
		     <select class="form-control" id="id_ciudad" name="id_ciudad" required>
			  
			</select>
	  </div>
	  
	  <div class="form-group col-sm-12">
		    <label for="telefono">Telefono</label>
		    <input type="text" class="form-control" id="telefono" name="telefono" placeholder="telefono" required>
	  </div>
</div>
</form>
<script>
			$(document).ready(function() {
						
			
				var control = 0;
				
				$("#id_pais").change(function(){
					 carga_departamento(control);
				});
			    $("#id_departamento").change(function(){
					 carga_ciudad();
				});
				
				carga_inicial(control);
				
				$("#form_empresas").ajaxForm({
					    url: $('#form_empresas').attr('action'),
			            data: JSON.stringify($('#form_empresas').serialize()),
			            contentType:"application/json; charset=UTF-8",
			            datatype: "json",
			            type: "post",
						beforeSubmit: function () {
							return $("#form_empresas").valid();
						},
						success: function(data){
						   // var info = JSON.stringify(data);
					        var json = JSON.parse(data);
					        //alert(json.ok);
							$("#resultado_empresas").html(json.mensaje).fadeIn().delay(3000).fadeOut();
							
							if(json.ok){
								$("#resultado_empresas").css("color", "green");
								$("#form_empresas").trigger("reset");
								$("#form_empresas #nro_documento_empresa").focus();
								listarEmpresas();
								//$("#btn-group-usuarios #refrescar").click();
							}
							else{
								$("#resultado_empresas").css("color", "red");
							}
						}
			    });
			    
			  
			})
			
			
			function carga_inicial(control) {
			  //	$('#id_pais').val(number);
			  	$("#id_pais option[value='52']").attr("selected", true);
			  	carga_departamento(control);
			} 
			
			
			function carga_departamento(control){
			   //var id = $("#id_pais").val();
			   if(control == 0){
				  var id = $("#id_pais").val();
				  $.ajax({
					        type: "GET",
					        url: "/obtenerDepartamentoPorId/"+id,
					        success: function (data) {
					             var departamentos = JSON.stringify(data);
					             var content = JSON.parse(departamentos);
					            jQuery.each( content, function( i, val ) {
						     	  $('<option/>').val(content[i].id_departamento).text(content[i].nombre_departamento).appendTo('#id_departamento');
								});
								control= control +1;
								carga_ciudad();
					        }
			       });
			   }else{
				 var id = $("#id_pais").val();
				  $.ajax({
					        type: "GET",
					        url: "/obtenerDepartamentoPorId/"+id,
					        success: function (data) {
					             var departamentos = JSON.stringify(data);
					             var content = JSON.parse(departamentos);
					            jQuery.each( content, function( i, val ) {
						     	  $('<option/>').val(content[i].id_departamento).text(content[i].nombre_departamento).appendTo('#id_departamento');
								});
					        }
			       });
			   }
			  
			}
			
			function carga_ciudad(){
				var id = $("#id_pais").val();
			    var id = $("#id_departamento").val();
					  $.ajax({
					        type: "GET",
					        url: "/obtenerCiudadPorId/"+id,
					        success: function (data) {
					             var ciudades = JSON.stringify(data);
					             var content = JSON.parse(ciudades);
					             $("#id_ciudad").empty();
					            jQuery.each( content, function( i, val ) {
						     	  $('<option/>').val(content[i].id_ciudad).text(content[i].nombre_ciudad).appendTo('#id_ciudad');
								});
					        }
			    });
			}
			
			
</script>

	