<form id="form_vinculaciones" role="form" method="post" th:action="@{/guardarVinculacion}">
<div class="row">
      <div class="form-group col-sm-12">
		    <label for="conductor_asignado">Conductores</label>
		     <select class="form-control" id="conductor_asignado" name="conductor_asignado" required>
			  <option th:each="conductor : ${conductores}" th:value="${conductor.nro_documento }" th:text="${conductor.nombre_completo}"></option>
			</select>
	  </div>
	  
	   <div class="form-group col-sm-12">
		    <label for="placa">Placa Vehiculos</label>
		     <select class="form-control" id="placa" name="placa" required>
			  <option th:each="vehiculo : ${vehiculos}" th:value="${vehiculo.placa }" th:text="${vehiculo.placa + ' - ' + vehiculo.marca }"></option>
			</select>
	  </div>
	  <div class="form-group col-sm-12" >
		    <label for="numero_Documento_empresa">Numero Documento Empresa</label>
		    <select class="form-control" id="numero_Documento_empresa" name="numero_Documento_empresa" required>
			  <option th:each="empresa : ${empresas}" th:value="${empresa.nro_documento_empresa}" th:text="${empresa.nro_documento_empresa + ' - ' + empresa.nombre_completo}"></option>
		  </select>
	  </div>

</div>
</form>

<script>
			$(document).ready(function() {
			

				
				$("#form_vinculaciones").ajaxForm({
					    url: $('#form_vinculaciones').attr('action'),
			            data: JSON.stringify($('#form_vinculaciones').serialize()),
			            contentType:"application/json; charset=UTF-8",
			            datatype: "json",
			            type: "post",
						beforeSubmit: function () {
							return $("#form_vinculaciones").valid();
						},
						success: function(data){
						   // var info = JSON.stringify(data);
					        var json = JSON.parse(data);
					        //alert(json.ok);
							$("#resultado_vinculaciones").html(json.mensaje).fadeIn().delay(3000).fadeOut();
							
							if(json.ok){
								$("#resultado_vinculaciones").css("color", "green");
								$("#form_vinculaciones").trigger("reset");
								$("#form_vinculaciones #nro_documento").focus();
								listarVinculaciones();
								//$("#btn-group-usuarios #refrescar").click();
							}
							else{
								$("#resultado_vinculaciones").css("color", "red");
							}
						}
			    });
			    
			})
			
			
			
</script>
