<form id="form_vehiculos" role="form" method="post" th:action="@{/guardarVehiculo}">
<div class="row">
	 <div class="form-group col-sm-12" >
		    <label for="placa">Placa</label>
		    <input type="text" class="form-control" id="placa" name="placa " placeholder="Placa Vehiculo" required>
	  </div>
	  <div class="form-group col-sm-12" >
		    <label for="motor">Motor</label>
		    <input type="text" class="form-control" id="motor" name="motor " placeholder="Motor Vehiculo" required>
	  </div>
	   <div class="form-group col-sm-12" >
		    <label for="chasis">Chasis</label>
		    <input type="text" class="form-control" id="chasis" name="chasis " placeholder="Chasis Vehiculo" required>
	  </div>
	    <div class="form-group col-sm-12" >
		    <label for="modelo">Modelo</label>
		    <input type="text" class="form-control" id="modelo" name="modelo " placeholder="Modelo Vehiculo" required>
	  </div>
	  <div class="form-group col-sm-12">
                <label for="fecha_matricula">Fecha Matricula</label>
		        <input type="text" class="form-control" id="fecha_matricula" name="fecha_matricula " placeholder="Fecha Matricula" required>
	  </div>
	    <div class="form-group col-sm-12">
		    <label for="pasajeros_sentados">Pasajeros Sentados</label>
		    <input type="text" class="form-control" id="pasajeros_sentados" name="pasajeros_sentados" placeholder="Numero Pasajerosa Sentados" required>
	  </div>
	  <div class="form-group col-sm-12">
		    <label for="pasajeros_de_pie">Pasajeros de Pie</label>
		    <input type="text" class="form-control" id="pasajeros_de_pie" name="pasajeros_de_pie" placeholder="Numero Pasajeros de Pie" required>
	  </div>
	    <div class="form-group col-sm-12">
		    <label for="peso_seco">Peso Seco</label>
		    <input type="text" class="form-control" id="peso_seco" name="peso_seco" placeholder="Peso Seco" required>
	  </div>
	    <div class="form-group col-sm-12">
		    <label for="peso_bruto">Peso Bruto</label>
		    <input type="text" class="form-control" id="peso_bruto" name="peso_bruto" placeholder="Peso Bruto" required>
	  </div>
	    <div class="form-group col-sm-12">
		    <label for="cantidad_puertas">Numero de puertas</label>
		    <input type="text" class="form-control" id="cantidad_puertas" name="cantidad_puertas" placeholder="Numero de Puertas" required>
	  </div>
	    <div class="form-group col-sm-12">
		    <label for="marca">Marca</label>
		    <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca" required>
	  </div>
	  <div class="form-group col-sm-12">
		    <label for="linea">Linea</label>
		    <input type="text" class="form-control" id="linea" name="linea" placeholder="linea" required>
	  </div>
</div>
</form>


<script>

            $( function() {
			    $( "#fecha_matricula" ).datepicker({
        			 "autoclose": true,
        			 "language": 'es'
			    });

			 } );
              
			$(document).ready(function() {
			
				$("#form_vehiculos").ajaxForm({
					    url: $('#form_vehiculos').attr('action'),
			            data: JSON.stringify($('#form_vehiculos').serialize()),
			            contentType:"application/json; charset=UTF-8",
			            datatype: "json",
			            type: "post",
						beforeSubmit: function () {
							return $("#form_vehiculos").valid();
						},
						success: function(data){
						   // var info = JSON.stringify(data);
					        var json = JSON.parse(data);
					        //alert(json.ok);
							$("#resultado_vehiculos").html(json.mensaje).fadeIn().delay(3000).fadeOut();
							
							if(json.ok){
								$("#resultado_vehiculos").css("color", "green");
								$("#form_vehiculos").trigger("reset");
								$("#form_vehiculos #placa").focus();
								listarVehiculos();
								//$("#btn-group-usuarios #refrescar").click();
							}
							else{
								$("#resultado_vehiculos").css("color", "red");
							}
						}
			    });
			    
			 
			    
			})
					
			
</script>